<app-home></app-home>

<div class="container1">
    <div class="menu col-2">
        <ul class="mt-2">
            <li (click)="redirectEmpresa()"><i class="fa-solid fa-building-user"></i>
                <p>Empresa</p>
            </li>
            <li (click)="redirectEmpleadoBar()"><i class="fa-solid fa-user"></i>
                <p>Empleado</p>
            </li>
            <li (click)="redirectEmpresaBar()"><i class="fa-solid fa-arrow-up-right-dots"></i>
                <p>Historico Empresa</p>
            </li>
        </ul>
    </div>


    <div class="col-10 chart-container">
        <div>
            <canvas id="stackedBarLineChart"></canvas>
        </div>
    </div>
</div>