<app-home></app-home>

<div class="container">
    <h2 class="text-center mt-3 mb-5">Evaluar Empleado</h2>

    <form>
        <label for="empleado">Empleado</label>
        <div>
            <!-- <select class="form-select form-select-sm mb-3" id="empleado" name="empleado">
                <option selected>--seleccione empleado--</option>
                <option *ngFor="let item of empleados" value={{item.id}}>{{item.name}}</option>
            </select> -->
           <app-radius></app-radius>
        </div>

        <hr>
        <label for="actitudes">Actitudes</label>
        <!-- <input type="number" class="form-control mb-3" id="actitudes" min="0" max="10" name="actitudesGestionComportamiento"> -->
        <app-radius></app-radius>
        <hr>
        <label for="puntualidad">Puntualidad</label>
        <!-- <input type="number" class="form-control mb-3" id="puntualidad" min="0" max="10" name="ausenciaPuntualidad"> -->
        <app-radius></app-radius>
        <hr>
        <label for="calificacionLider">Calificacion Lider</label>
        <!-- <input type="number" class="form-control mb-3" id="calificacionLider" min="0" max="10" name="calificacionLider"> -->
        <app-radius></app-radius>
        <hr>
        <label for="nps">NPS</label>
        <!-- <input type="number" class="form-control mb-3" id="nps" min="0" max="10" name="nps"> -->
        <app-radius></app-radius>
        <hr>
        <label for="especifico1">Especifico 1</label>
        <!-- <input type="number" class="form-control mb-3" id="especifico1" min="0" max="10" name="especifico1"> -->
        <app-radius></app-radius>
        <hr>
        <label for="especifico2">Especifico 2</label>
        <!-- <input type="number" class="form-control mb-3" id="especifico2" min="0" max="10" name="especifico2"> -->
        <app-radius></app-radius>
        <hr>
        <label for="comentario">Comentario</label>
        <textarea class="form-control" id="comentario" name="comentario"></textarea>

      
        
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mt-3" (click)="addPuntajeAlert($event)">Evaluar</button>
        </div>
    </form>
</div>