.fa-pen-to-square:hover{
    color: rgb(255, 102, 0);
}

.fa-trash:hover{
    color: red;
}

thead tr th{
    color: rgb(88, 72, 235);
}

h2{
    color: rgb(199, 202, 235);
}

table{
    border: 6px solid rgba(89, 5, 110, 0.527);
    text-align: center;
}