.input_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: auto;
    border: 1px solid purple;
    border-radius: 40px;
    padding: 10px;
    }

.form-control{
    width: 300px;
    border: 1px solid purple;
    border-radius: 20px;
}
