<app-home></app-home>

<div class="container1">
    <div class="col-3">
        <ul class="mt-2">
            <li class=""><i class="fa-regular fa-building"></i><p>Empresa</p></li>
            <li class=""><i class="fa-solid fa-building-user"></i><p>Area</p></li>
            <li><i class="fa-solid fa-user"></i><p>Empleado</p></li>
        </ul>
    </div>

    <div class="col-13">
        <div class="dashboard_header">
            <div class="indicador">
                <p class="label">Meta</p>
                <p class="monto">9300000</p>
            </div>
        
            <div class="indicador">
                <p class="label">Real</p>
                <p class="monto">9300000</p>
            </div>
        
            <div class="indicador">
                <p class="label">Porciento Meta</p>
                <p class="monto">9300000%</p>
            </div>
            <div class="indicador">
                <p class="label">Porciento Real</p>
                <p class="monto">9300000%</p>
            </div>
        </div>
    </div>

    
</div>  


