* { 
    box-sizing: border-box;
    margin: 0;
    overflow-y: hidden;
}

body, html {
    height: 100%; /* Ensure the body and html take up the full height */
    margin: 0;
}

.container1 {
    display: flex; /* Asegura el comportamiento de Flexbox */
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 90px);
    overflow: auto; /* Permite el desplazamiento del contenido */
}


.menu {
    background: rgb(50, 83, 145);
    color: white;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent shrinking */
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px; /* Add padding for some space */
}

ul li {
    margin-top: 30px;
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
    transition: color 0.3s ease; /* Smooth transition */
}

ul li:hover {
    color: purple;
    cursor: pointer;
    transform: scale(1.05); /* Slightly enlarge on hover */
}


canvas {
    width: 60rem;
    height: 20rem;
    padding: 16px;
    border: 2px solid #5a0db7; /* Opcional, para verificar si se renderiza */
  }
