<div class="rb-box">
    <div id="rb-1" class="rb">
      <div 
      id="first"
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 0" 
        value="0" 
        (click)="onTabClick(0)">
        <div class="rb-spot">
          <span class="rb-txt">0</span>
        </div>
      </div>
      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 1" 
        value="1" 
        (click)="onTabClick(1)">
        <div class="rb-spot">
          <span class="rb-txt">1</span>
        </div>
      </div>
      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 2" 
        value="2" 
        (click)="onTabClick(2)">
        <div class="rb-spot">
          <span class="rb-txt">2</span>
        </div>
      </div>
      

      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 3" 
        value="3" 
        (click)="onTabClick(3)">
        <div class="rb-spot">
          <span class="rb-txt">3</span>
        </div>
      </div>

      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 4" 
        value="4" 
        (click)="onTabClick(4)">
        <div class="rb-spot">
          <span class="rb-txt">4</span>
        </div>
      </div>

      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 5" 
        value="5" 
        (click)="onTabClick(5)">
        <div class="rb-spot">
          <span class="rb-txt">5</span>
        </div>
      </div>

      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 6" 
        value="6" 
        (click)="onTabClick(6)">
        <div class="rb-spot">
          <span class="rb-txt">6</span>
        </div>
      </div>


      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 7" 
        value="7" 
        (click)="onTabClick(7)">
        <div class="rb-spot">
          <span class="rb-txt">7</span>
        </div>
      </div>


      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 8" 
        value="8" 
        (click)="onTabClick(8)">
        <div class="rb-spot">
          <span class="rb-txt">8</span>
        </div>
      </div>


      <div 
        class="rb-tab" 
        [class.rb-tab-active]="selectedValue === 9" 
        value="9" 
        (click)="onTabClick(9)">
        <div class="rb-spot">
          <span class="rb-txt">9</span>
        </div>
      </div>


      <div 
        class="rb-tab" 
        id="last"
        [class.rb-tab-active]="selectedValue === 10" 
        value="10" 
        (click)="onTabClick(10)">
        <div class="rb-spot">
          <span class="rb-txt">10</span>
        </div>
      </div>


    </div>
  </div>
  