.fa-pen-to-square:hover{
    color: rgb(255, 102, 0);
}

.fa-trash:hover{
    color: red;
}

.fa-print:hover{
    color: blue;
}

.fa-pen:hover{
    color: rgb(76, 168, 0);
}

thead tr th{
    color: rgb(88, 72, 235);
}

h2{
    color: rgb(199, 202, 235);
}


table{
    border-color: purple;
    text-align: center;
    height:110px;
}

.d-flex{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}