.fa-trash:hover{
    color: red;
}

.fa-pen-to-square:hover{
    color: rgb(255, 102, 0);
}

thead tr th{
    color: rgb(88, 72, 235);
}

.btn-success, .sort-btn{
    text-align: center;
    width:80px;
    height: 34px;
}

h2{
    color: rgb(17, 27, 167);
}

table{
    border: 6px solid #59056e86;
    text-align: center;
}