<div class="nav">
    <div class="nav_ul">
        <div class="nav_img">
            <img [src]="imgUrl" width="200" alt="">
        </div>

        <div class="nav_menu">
            <li class="nav_li" (click)="redirectLogin()">Login</li>
            <li class="nav_li" (click)="redirectEmpresa()">Empresa</li>
            <li class="nav_li" (click)="redirectArea()">Areas</li>
            <li class="nav_li" (click)="redirectEmpleado()">Empleados</li>
            <li class="nav_li" (click)="redirectEvaluar()">Calificar empleado</li>
            <li class="nav_li" (click)="redirectPuntaje()">Evaluaciones completas</li>
            <li class="nav_li" (click)="redirectUsuario()">Usuarios</li>
        </div>
    </div>
</div>
